body{
	background: url(images/wood2.png);
	font-family: "Helvetica", arial, sans-serif;
	
}

#wrap{
	width: 900px;
	margin: 0px auto;
}

#wrap h1{
	text-align: center;
	color: #3e0505; /* text color */
	font-family: "Helvetica", arial, sans-serif;
	font-size: 32px;
	font-weight: bold;
	text-shadow: 0 2px 1px rgba(255,255,255,.51); /* drop shadow */
	margin-bottom: -15px;
}

#wrap p{
	text-align: center;
	color: #3e0505; /* text color */
	font-family: "Georgia", serif;
	font-size: 26px;
	font-style: italic;
	text-shadow: 0 2px 1px rgba(255,255,255,.51); /* drop shadow */
	margin-bottom: 30px;
}

.banner_square{
	margin-left: 50px;
	margin-bottom: 150px;
	float: left;
	width:400px;
}

.banner_square textarea {
	padding: 10px;
	width: 310px;
}

#wrap .facebookz {
	width: 800px;
	padding-left: 40px;
}

#wrap .facebookz a span {
	width: 686px;
	cursor: pointer;
	background: rgba(0,0,0, .50);
	color: #fff;
	padding: 10px;
	display: block;
	float: left;
	z-index: 99;
	position: relative;
	font-size: 30px;
	font-weight: bold;
}

	
#wrap .facebookz textarea {width: 685px;}


#wrap textarea {
	text-align: left;
	color: #3e0505; /* text color */
	font-size: 14px;
	text-shadow: 0 1px 1px rgba(255,255,255,.51); /* drop shadow */
	margin-top: 25px;
	margin-bottom: 0px;
	font-family: "Helvetica", arial, sans-serif;
	font-style: normal;
}
